.lastOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lastOne > h1 {
  color: #e03c31;
  font-size: 50px;
}

.lastOne > h6 {
  font-size: 18px;
  color: #424242;
}

.lastOne > p {
  font-size: 20px;
}
.lastTwo > h1 {
  color: #96cbe1;
  font-size: 50px;
}

.lastTwo > p {
  font-size: 24px;
  padding-top: 30px;
  font-weight: 600;
  color: #424242;
}
.lastTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
