.threeCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boxCard {
  margin-top: 20px;
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 366px;
  height: 660px;
  padding: 30px px 10px 0px;
  background: #ace0f0;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.boxCards {
  margin-top: 20px;
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 366px;
  height: 660px;
  padding: 30px px 10px 0px;
  background: #ace0f0;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.boxCards > p {
  padding-top: 180px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-size: 19px;
  justify-content: center;
  color: #e03c31;
}

.boxCards > hr {
  margin-top: 193px;
}

.boxCard > p {
  margin: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 19px;
  justify-content: center;
  color: white;
}

/* .boxCard > h5 {
  font-size: 17px;
  text-align: left;
  color: white;
  margin: 1px 0px 8px 5px;
} */
hr {
  width: 366px;
  background-color: #424242;
}

.textEnd {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 1px;
}

.textEnd > h5 {
  font-size: 17px;
  text-align: left;
  color: white;
  margin: 1px 0px 0px 5px;
}

.textEnd > p {
  font-size: 16px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin: 0px 0px 0px 5px;
  padding-bottom: 4px;
}
