.sectionL {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ace0f0;
  height: 80vh;
  padding-top: 90px;
  padding-left: 60px;
}

.firstSectionL {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 250px;
  padding-top: 30px;
  padding-bottom: 90px;
  text-align: left;
}

.firstSectionL > h1 {
  font-size: 3.3rem;
  color: #e03c31;
  text-align: left;
}

.firstSectionL > p {
  font-size: 19px;
  color: #5e5e5e;
  margin-bottom: 50px;
  padding-right: 280px;
}

.button {
  border-radius: 5px;
  width: 180px;
  height: 45px;
  border: none;
  background-color: #e03c31;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0px;
}

.secondSectionL {
  padding-right: 300px;
}

.secondSectionL > img {
  height: 560px;
  width: 700px;
}
